input[type="number"] {
  text-align: right; 
  max-width:90%;
  width:90%;
}

select {
background:#EDEFF0;
border-radius:3px;
border:1px solid #CDD2D4;
box-sizing:border-box;
display:block;
margin-bottom:1em;
padding:.5em;
width:90%;
}

body {
  align-items: center;
  justify-content: center;
  padding: 5px;
}

button {
  max-width:90%;
  width:90%; 
}
